ul, li, h1, body, strong, section {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;

  background: transparent;
  font: inherit;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;

 }

 ul {
   list-style-type: none;
 }

 body {
   font-family: sans-serif;
 }

h1 {
  text-align: center;
  font-size: 84px;
  font-weight: bold;
  margin: 10px;
}

a, img {
  display: none;
}

img{
  width: 256px;
  border-radius:10px;
  margin: auto;
}

.score-ul{
  text-align: center;
  font-size: 44px;
  font-weight: bold;
  margin-bottom: 10px;
}

.group:after{
  content: "";
  display: block;
  clear: both;
}

.plane {
  background: yellow;
  width: 400px;
  height: 400px;
  margin:auto;
  border: 1px solid black;
  /*overflow: hidden;*/
}

.plane > li {
  display: block;
  background: yellow;
  width: 23px;
  border: 1px solid black;
  height: 23px;
  float: left;
}

.plane > .snake {
  background: green;
}
.plane > .snake.head{
  border-radius: 5px;
}

.plane > .head.left:before{
  display: block;
  font-weight: bold;
  position: relative;
  left:-17px;
  top: -4px;
  content: "Y";
  color: red;
  transform: rotate(-90deg);
}
.plane > .head.left:after{
  display: block;
  font-weight: bold;
  position: relative;
  content: ":";
  font-size: 20px;
  color: black;
  top: -20px;
  right: -5px;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;


}
.plane > .snake.down:before{
  display: block;
  font-weight: bold;
  position: relative;
  content: "Y";
  color: red;
  transform: rotate(-180deg);
  bottom:-20px;
  left: -7px;

}

.plane > .head.down:after{
  display: block;
  font-weight: bold;
  position: relative;
  content: ":";
  font-size: 20px;
  color: black;
  top: -22px;
  left: -1px;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  transform: rotate(-90deg)
}


.plane > .snake.up:before{
  display: block;
  font-weight: bold;
  position: relative;
  content: "Y";
  color: red;
  top: -16px;
  right: -7px;
}

.plane > .head.up:after{
  display: block;
  font-weight: bold;
  position: relative;
  content: ":";
  font-size: 20px;
  color: black;
  top: -30px;
  left: -1px;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  transform: rotate(-90deg)
}


.plane > .snake.right:before{
  display: block;
  font-weight: bold;
  position: relative;
  content: "Y";
  color: red;
  right:-17px;
  bottom: -9px;
  transform: rotate(90deg);
}

.plane > .head.right:after{
  display: block;
  font-weight: bold;
  position: relative;
  content: ":";
  font-size: 20px;
  color: black;
  top: -20px;
  right: -11px;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.plane > .cherry {
  background: red;
}

.final{
  font-size: 1000% ;
  display: block !important;
}
a.final {
  font-size: 22px !important;
}
article {
margin: 80px;
  text-align: right;
}
